<div class="template" id="addIcon">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon fullFormLabel">Icon</span>
                <input type="text" class="form-control" asria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon fullFormLabel">Color</span>
                <input type="text" class="form-control" asria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon fullFormLabel">Url</span>
                <input type="text" class="form-control" asria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>
