<div class="leftMenu">
    <button class="menuButton btn btn-primary">
        Home<br><span class="glyphicon glyphicon-home"></span>
    </button>
    <ul class="cmsMenu">
        <li data-lid="news" data-background="#eee">
            <a href="#">
                <span class="menuColumnTitle">
                    <span class="glyphicon glyphicon-pencil"></span>News
                </span>
                <span class="glyphicon glyphicon-arrow-down rightArrow"></span>
            </a>
            <ul data-parent="news">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
            </ul>
        </li>
        <li data-lid="media" data-background="#eee">
            <a href="#">
                <span class="menuColumnTitle">
                    <span class="glyphicon glyphicon-picture"></span>Media
                </span>
                <span class="glyphicon glyphicon-arrow-down rightArrow"></span>
            </a>
            <ul data-parent="media">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
            </ul>
        </li>
    </ul>
</div>
