<div class="rightMenu">    
    <button id="loginButton" class="menuButton btn btn-primary">
        LOGOUT<br><span class="glyphicon glyphicon-log-out"></span>
    </button>
    <div class="userButtonsRow">
        <button class="glyphicon glyphicon-envelope"></button>
        <button class="glyphicon glyphicon-cog"></button>
        <button class="glyphicon glyphicon-inbox"></button>
    </div>
    <div class="loggedUserContainer">
        Zalogowany jako<br><span class="userName">Marek Suśniak</span>
    </div>
</div>
