{% extends 'base.html.twig' %}
{% block body %}
    <div class="login">	
        <h2>Login to account</h2>
        <div class="input-group">
            <span class="input-group-addon fullFormLabel">Email</span>
            <input id="loginEmail" type="text" class="form-control" asria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon fullFormLabel">Password</span>
            <input id="loginPassword" type="password" class="form-control" asria-describedby="basic-addon1">
        </div>
        <button id="loginSubmit" type="submt" class="btn btn-primary">Submit</button>
         <p style="margin-top: 10px;">Doesn't have an account?  <a href="#">Register here</a></p>
    </div>	
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/appfrontend/js/frontendLib/login.js') }}"></script>
{% endblock %}

{% block javascripts_on_ready %}
    var object = myApp.login.initialize();
{% endblock %}